# Environments
logs/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
settings.py
F:\WorkSpacesCondominio\emailer\templates
F:\WorkSpacesCondominio\sistemacondominio\settings.py
F:\WorkSpacesCondominio\media\movimento_anexos
