<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<form hx-post="{% url 'create-contact'  %}" hx-target="#contact-list" hx-swap="beforeend"
    hx-on="htmx:afterRequest: this.remove()">
   <div class="row">
       <div class="col-4 col-md-3">
           <label for="{{ form.id_morador.id_for_label}}">{{ form.id_Morador.label}}</label>
           {{form.id_morador}}
       </div>
       <div class="col-4 col-md-3">
           <label for="{{ form.leitura_final.id_for_label}}">{{ form.leitura_final.label}}</label>
           {{form.leitura_final}}
       </div>
       <div class="col-3 align-self-end">
           <buttom class="btn btn-primary" type="Submit">Submit</button>
       </div>   
   </div>
</form>
</body>