{% extends 'base.html' %}
{% load static %}
{% load omfilters %}

{% block conteudo %}


<table class="table table-striped">
    <thead class="thead-light">
        {% for leitura in leituras|slice:":1" %}
        <h1>Leituras Mês/Ano: {{ leitura.mesano }}</h1>
        {% endfor %}

        <tr>
            <th scope="col">Mês Ano</th>
            <th scope="col">Apto/Sala</th>
            <th scope="col">Morador</th>
            <th scope="col">Contas</th>
            <th scope="col">Valor M3</th>
            <th scope="col">Leitura Inicial</th>
            <th scope="col">Leitura Final</th>
            <th scope="col">Consumo m3</th>
            <th scope="col">Valor</th>
            <th scope="col">Dt. Leitura</th>

        </tr>
    </thead>
    <tbody>
        {% for leitura in leituras %}
        <tr>
            <th scope="row">{{ leitura.mesano }}</th>
            <td scope="row">{{ leitura.Apto_Sala }} </td>
            <td scope="row">{{ leitura.morador }} </td>
            <td scope="row">{{ leitura.Conta }}</td>
            <td scope="row">{{ leitura.vl_gas_m3 }}</td>
            <td scope="row">{{ leitura.leitura_inicial }}</td>
            <td scope="row">{{ leitura.leitura_final }}</td>
            <td scope="row">{{ leitura.Consumo_m3 }}</td>
            <td scope="row">{{ leitura.Valor }}</td>
            <td scope="row">{{ leitura.dt_leitura }}</td>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<tfoot>

</tfoot>
<div class="=row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html'%}
    </div>
</div>

{% endblock %}