<!-- my_admin_base.html -->
{% load static %}
{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>My Custom Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    {% block extrahead %}
    <!-- Seus links customizados aqui -->
    <a href="/my_custom_link/">Meu Link Customizado</a>
    {% endblock %}

<body class="{% block bodyclass %}{% endblock %}">
    <!-- Restante do código do template -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="{% url 'admin:index' %}">Meu Django Admin</a></h1>
        </div>
        <div id="user-tools">
            <strong>Bem-vindo, {{ user.username }}</strong> (<a href="{% url 'admin:logout' %}">Sair</a>)
        </div>
        <div id="user-links">
            <!-- Adicione seus links customizados aqui -->
            <a class="my-admin-links" href="/meu-link1/">Meu Link 1</a>
            <a class="my-admin-links" href="/meu-link2/">Meu Link 2</a>
            <!-- ... -->
        </div>
    </div>
    <div id="main-container">
        <div id="left-column">
            <div class="module" id="left-sidebar">
                <!-- Inclua o menu do Django admin -->
                {% block left-sidebar %}
                {% include 'admin/includes/left-nav.html' %}
                {% endblock %}
            </div>
        </div>
        <div id="content" class="{% if not is_popup %}colM{% endif %}">
            <div id="content-main">
                <!-- Renderize o conteúdo específico da página do admin -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>