{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block conteudo %}

<div class="container-fluid">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
   </div>

   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     {% if lei1 %}
                        {%for l in lei1 %}
                           <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Valores das leituras - {{ l.agrupador }}</div>
                           <div class="h5 mb-0 font-weight-bold text-gray-800">
                              {{ l.total_leituras }}</div>
                        {% endfor %}
                     {% else %}      
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Valores das leituras </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                           <a href="#">
                              Não tem leituras
                        </a>                           
                        
                        </div>
                    {% endif %}      
                    
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Valor total das despesas do mês
                     </div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {%for l in calcmov1 %}
                           {{ l.valor_total_leitura }}
                        {% endfor %}
                     </div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Quantidade de moradores</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {%for l in calcmov1 %}
                           {{ l.qde_moradores }}
                        {% endfor %}
                     </div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-user-check fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Numero de Condôminos</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {%for l in calcmov1 %}
                           {{ l.nr_condomiminos }}
                        {% endfor %}
                     </div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="card shadow mb-4">

      <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
         {%for l in calcmov1 %}
            <h6 class="m-0 font-weight-bold text-primary">Condomínio: {{ l.id_condominio }}-{{ l.nome_condominio }} --> Bloco: {{ l.id_bloco }}-{{ l.nome_bloco }} --> Mês/Ano: {{ l.mes_ano }} </h6>
         {% endfor %}
      </div>



      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered">
               <thead>
                  <th style="text-align: center;">Codigo</th>
                  <th style="text-align: center;">Conta</th>
                  <th style="text-align: center;">Valor</th>
               </thead>

               <tbody>
                  {%for lista in calcmov %}
                     <tr>
                        <td style="text-align: center;">{{ lista.id_contas }}</td>
                        <td style="text-align: left;">{{ lista.conta }}</td>
                        <td style="text-align: right;">{{ lista.valor|floatformat:2|intcomma }}</td>
                  {% endfor %}    
                  
                  {%for l in calcmov1 %}
                  <tr>
                     <td></td>
                     <td style="text-align: center;" class="m-0 font-weight-bold text-primary">Total</td>
                  <td style="text-align: right;" class="m-0 font-weight-bold text-primary">{{ l.valor_total|floatformat:2|intcomma }}</td>
                  </tr>
   
                  {% endfor %}
                  

               </tbody>
            </table>
         </div>
      </div>

      {%if lei %}

         <div class="card shadow mb-4">

            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
               {%for l in lei %}
                  <h6 class="m-30 font-weight-bold text-primary">Leituras referente Mês/Ano: {{ l.mes_ano }}</h6>
               {% endfor %}
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered">
                     <thead>
                        <th style="text-align: center;">Conta</th>
                        <th style="text-align: center;">Valor do m3</th>
                        <th style="text-align: center;">Data leitura</th>
                        <th style="text-align: center;">Valor total</th>
                     </thead>
      
                     <tbody>
                        {%for lista in lei %}
                           <tr>
                              <td style="text-align: left;">{{ lista.conta }}</td>
                              <td style="text-align: right;">{{ lista.valor_m3 }}</td>
                              <td style="text-align: center;">{{ lista.dt_leitura|date:"d/m/Y"  }}</td>
                              <td style="text-align: right;">{{ lista.total_leituras|floatformat:2|intcomma }}</td>
                           </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
                  </tbody>
               </table>
            </div>
         </div>
      {% endif %} 



      <div class="text-right">
         {%for lista in calcmov1  %}
         <a href={% url 'listaconblomov' id=lista.id_bloco %} class="btn btn-secondary text-white" type="button">
            <span class="text"><center>Voltar</center>
            </a>      
            {% endfor %}
         </div>      




   </div>
</div>

{% endblock conteudo %}