{% extends "base.html"%}


{%  block conteudo %}

<div class="container">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
   </div>

   <div class="card shadow mb-4">
       <div class="card-body">
           <h4 class="mb-3 text-primary">
               Formulário para registro de novas leituras
           </h4>
           <table class="table table-bordered">
                <thead>
                    <th style="text-align: center;">Apto/Sala</th>
                    <th style="text-align: center;">Morador</th>
                    <th style="text-align: center;">Leitura Inicial</th>
                    <th style="text-align: center;">Leitura Final</th>
               </thead>
                <tbody>
                    {% if submitted %}
                        Formulário preenchido com sucesso!!!

                    {% else %}
                        <form action ="" method=POST>
                            {% csrf_token %}
                            {%for lista in formulario %}
                                <tr>
                                    <td style="text-align: center;">{{lista.apto_sala }}</td>
                                    <td style="text-align: left;">{{lista.morador }}</td>
                                    <td style="text-align: center;">{{lista.leitura_inicial }}</td>
                                    <td style="text-align: center;">{{form.leitura_final }}</td>
                                </tr>
                            {% endfor %}
                            <div class= "text-right">
                                <button class="btn btn-primary" type="submit">
                                    <span class="text">Registrar lançamento</span>
                                </button>
                            </div>   
                        </form>                     
                    {% endif %}
                </tbody>
             </table>
         </div>

         <div class="text-right">
            {%for lista in lei  %}
            <a href="{% url 'calcularmovimentacao' id=lista.id_bloco ma=lista.mesano %}" class="btn btn-secondary text-white" type="button">
                <span class="text"><center>Voltar</center>
                </a>      
                {% endfor %}
            </div>



    </div>
   
</div>
{% endblock conteudo %}