{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block conteudo %}

<div class="container-fluid">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
   </div>

   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Visitantes aguardando
                        autorização</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitantes no condomínio
                     </div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Visitas finalizadas</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-user-check fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitantes registrados no mês
                        atual</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="card shadow mb-4">
      <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
         {%for l in conta1 %}
            <h6 class="m-0 font-weight-bold text-primary">Condomínio: {{ l.id_condominio }}-{{ l.nome_condominio }} --> Bloco: {{ l.id_bloco }}-{{ l.nome_bloco }} --> Apto/Sala: {{ l.apto_sala }}-{{ l.morador }}  --> 
               Mês/Ano: {{ l.mes_ano }}</h6>
         {% endfor %}
      </div>

      <div>
 


      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered">
               <thead>
                  <th style="text-align: center;">Codigo</th>
                  <th style="text-align: center;">Conta</th>
                  <th style="text-align: center;">Valor</th>
               </thead>

               <tbody>
                  {%for lista in conta %}
                     <tr  style="text-align: center;">
                        <td  style="text-align: center;">{{ lista.id_conta }}</td>
                        <td  style="text-align: left;">{{ lista.nome_conta }}</td>
                        <td  style="text-align: right;">{{ lista.valor|floatformat:2|intcomma }}</td>
                     </tr>
                  {% endfor %}
                  {%for l in conta1 %}
                  <tr>
                     <td></td>
                     <td  style="text-align: right;" class="m-0 font-weight-bold text-primary">Total</td>
                  <td  style="text-align: right;" class="m-0 font-weight-bold text-primary">{{ l.valor|floatformat:2|intcomma }}</td>
                  </tr>
   
                  {% endfor %}
                        

               </tbody>
            </table>
         </div>
      </div>

      {%if leitura %}

         <div class="card shadow mb-4">

            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
               {%for l in leitura %}
                  <h6 class="m-30 font-weight-bold text-primary">Leitura de {{ l.conta }} - Valor do m3: {{ l.valor_m3 }} --> Data leitura: {{ l.dt_leitura|date:"d/m/Y"  }} --> Referente Mês/Ano: {{ l.mes_ano }}</h6>
               {% endfor %}
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered">
                     <thead>
                        <th style="text-align: center;">Leitura Inicial</th>
                        <th style="text-align: center;">Leitura Final</th>
                        <th style="text-align: center;">Consumo M3</th>
                        <th style="text-align: center;">Valor Consumo</th>
                     </thead>
      
                     <tbody>
                        {%for lista in leitura %}
                           <tr>
                              <td style="text-align: right;">{{ lista.leitura_inicial }}</td>
                              <td style="text-align: right;">{{ lista.leitura_final }}</td>
                              <td style="text-align: right;">{{ lista.consumo_m3|floatformat:3|intcomma }}</td>
                              <td style="text-align: right;">{{ lista.vl_consumo|floatformat:2|intcomma }}</td>
                           </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
                           

                  </tbody>
               </table>
            </div>
         </div>
      {% endif %}   

      <div class="text-right">

         {%for lista in conta1  %}
         <a href={% url 'listaconblomorador' idb=lista.id_bloco ma=lista.mesano  %} class="btn btn-secondary text-white" type="button">
            <span class="text"><center>Voltar</center>
            </a>      
            {% endfor %}
         </div>





   </div>
</div>

{% endblock conteudo %}