{% extends 'base.html' %}
{% load humanize %}
{% block conteudo %}

<div class="container-fluid">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
   </div>

   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Visitantes aguardando
                        autorização</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitantes no condomínio
                     </div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Visitas finalizadas</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-user-check fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitantes registrados no mês
                        atual</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="card shadow mb-4">
      <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
         {%for l in calculo1 %}
            <h6 class="m-0 font-weight-bold text-primary">Condomínio: {{ l.id_condominio }}-{{ l.nome_condominio }} --> Bloco: {{ l.id_bloco }}-{{ l.nome_bloco }}  --> Mês/Ano: {{ l.mes_ano }}</h6>
         {% endfor %}
      </div>


      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered">
               <thead>
                  <th>Apto/Sala</th>
                  <th>Morador</th>
                  <th>Qde Contas</th>
                  <th>Valor Total</th>
                  <th>Mais informações</th>
               </thead>

               <tbody>
                  {%for lista in calculo %}
                     <tr>
                        <td>{{ lista.apto_sala }}</td>
                        <td>{{ lista.morador }}</td>
                        <td>{{ lista.qde_contas }}</td>
                        <td>{{ lista.valor|floatformat:2|intcomma }}</td>
                        <td>
                           <a href="{% url 'listaconta' idb=lista.id_bloco ma=lista.mesano id_morador=lista.id_morador %}">
                              Ver informações
                        </a>
                        </td>
                     </tr>
                  {% endfor %}
                  {%for l in calculo1 %}
                  <tr>
                     <td></td>
                     <td></td>
                     <td class="m-0 font-weight-bold text-primary">Total</td>
                  <td class="m-0 font-weight-bold text-primary">{{ l.valor|floatformat:2|intcomma }}</td>
                  </tr>
   
                  {% endfor %}
            

               </tbody>
            </table>
         </div>
      </div>

      <div class="text-right">
         {%for lista in calculo1  %}
         <a href={% url 'listaconblomov' id=lista.id_bloco %} class="btn btn-secondary text-white" type="button">
            <span class="text"><center>Voltar</center>
            </a>      
            {% endfor %}
         </div>      

   </div>
</div>

{% endblock conteudo %}