{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block conteudo %}

<div class="container-fluid">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
   </div>

   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Visitantes aguardando
                        autorização</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Visitantes no condomínio
                     </div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>

                  <div class="col-auto">
                     <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Visitas finalizadas</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-user-check fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitantes registrados no mês
                        atual</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="card shadow mb-4">

      <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
         {%for l in condominio1 %}
            <h6 class="m-0 font-weight-bold text-primary">Condomínio: {{ l.id_condominio }}-{{ l.nome_condominio }} --> Bloco: {{ l.id_bloco }}-{{ l.nome_bloco }}  </h6>
         {% endfor %}
      </div>



      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered">
               <thead>
                  <th style="text-align: center;">Mês/Ano</th>
                  <th style="text-align: center;">Valor Total</th>
                  <th style="text-align: center;">PDF</th>
                  <th style="text-align: center;">Mais informações</th>
               </thead>

               <tbody>
                  {%for lista in condominio %}
                     <tr>
                        <td style="text-align: center;">{{ lista.mes_ano }}</td>
                        <td style="text-align: right;">{{ lista.valor_total|floatformat:2|intcomma }}</td>
                        <td style="text-align: center;">
                           <a href="{% url 'geradorPDFgeral' idb=lista.id_bloco ma=lista.mesano %}">
                              <img src="{% static 'images/iconepdf.png' %}" alt="Descrição da imagem">

                        </a>
                        </td>
                        <td style="text-align: center;">
                           <a href="{% url 'listaconblomorador' idb=lista.id_bloco ma=lista.mesano %}">
                              <img src="{% static 'images/info.png' %}" alt="Descrição da imagem">

                        </a>
                        </td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>


      <div class="text-right">
         {%for lista in condominio1  %}
         <a href={% url 'listacondominio' id=lista.id_bloco %} class="btn btn-secondary text-white" type="button">
            <span class="text"><center>Voltar</center>
            </a>      
            {% endfor %}
         </div>      




   </div>
</div>

{% endblock conteudo %}