{% extends "base.html"%}
{% load static %}
{% load widget_tweaks %}


{%  block conteudo %}

<!-- Link para o arquivo CSS do Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Link para o arquivo JavaScript do jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Link para o arquivo JavaScript do Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<!--have a button POST a click via AJAX -->




<div class="container">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">lança leituras</h1>
   </div>

   <div class="card shadow mb-4">
       <div class="card-body">
           <h4 class="mb-3 text-primary">
               Formulário para registro de novas leituras
           </h4>
        <div id="contact-forms">   
            {% include 'partials/form.html'%}
        </div>

        <div class="my-4">
            <button type="button" class="btn btn-success me-2"
                hx-get="{%  url 'create-contact' %}"
                hx-target="#contact-forms"
                hx-swap="beforeend">+ Add Contact</button>
        </div>    

        <ul id="contact-list">
            {% for leitura in leituras%}
                {% include 'partials/lanca.html'%}

            {% endfor %}
        </ul>
        
    </div>





   
</div>
{% endblock conteudo %}