{% extends "base.html"%}
{% load static %}
{% load widget_tweaks %}


{%  block conteudo %}

<!-- Link para o arquivo CSS do Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Link para o arquivo JavaScript do jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Link para o arquivo JavaScript do Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<!-- have a button POST a click via AJAX -->




<div class="container">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">lança leituras</h1>
   </div>

   <div class="card shadow mb-4">
       <div class="card-body">
           <h4 class="mb-3 text-primary">
               Formulário para registro de novas leituras
           </h4>
        <div id="contact-forms">   
            {% include 'partials/form.html'%}
        </div>

        <div class="my-4">
            <button type="button" class="btn btn-success me-2"
                hx-get="{%  url 'create-contact' %}"
                hx-target="#contact-forms"
                hx-swap="beforeend">+ Add Contact</button>
        </div>    

        <ul id="contact-list">
            {% for lei in leitura%}
                {% include 'partials/lanca.html'%}

            {% endfor %}
        </ul>
        
    </div>








    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Confirma os lançamentos</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="valor_m3" class="col-form-label">Valor m3:</label>
                            {% render_field form.valor_m3 placeholder="Valor do metro cúbico" class="form-control" %}
                            <label for="id_contas" class="col-form-label">Conta:</label>
                            {% render_field form.id_contas placeholder="Conta da leitura" class="form-control" %}
                            <label for="dt_leitura" class="col-form-label">Data da Leitura:</label>
                            {% render_field form.dt_leitura placeholder="Data da Leitura" class="form-control" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="confirmarModalButton">Registrar Lançamento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  


   
</div>
{% endblock conteudo %}