{% extends "movimentacao/base1.html"%}


{% block content %}
<h1>Lista de Despesas</h1>
<div class="row">
  <div class="col">
    <form
    class="form-inline p-3"
      hx-post="{% url 'movimentacao:expense_create' idb ma %}"
      hx-target="#expenseTbody"
      hx-swap="afterbegin"  
      >
      <table class="table">
        <thead>
          <th style="text-align: center;">Morador</th>
          <th style="text-align: center;">Conta</th>
          <th style="text-align: left;">Data Leitura</th>
          <th style="text-align: left;">Valor M3</th>
          <th style="text-align: left;">Leitura final       </th>
       </thead>
      </table>
  
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group p-2">
        {{ field }}
        {{ field.id_bloco }}
        {{ field.errors }}
        {% if field.help_text %}
          <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
      </div>
      {% endfor %}
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary ml-2"
        >Adicionar</button>
      </div>
    </form>
  </div>
</div>

<div
  id="checkedExpenses"
  class="col pt-2">
  <form class"form-inline p-3">

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Morador</th>
          <th>Conta</th>
          <th>Data Leitura</th>
          <th style="text-align: right;">Valor M3</th>
          <th style="text-align: right;">Leitura inicial</th>
          <th style="text-align: right;">Leitura final</th>
  <!--        <th>Valor Consumo m3</th>
          <th class="text-center">Pago</th>
          <th class="text-center">Ações</th>-->
        </tr>
      </thead>
      <tbody id="expenseTbody">
        {% include "./expense_table.html" %}
      </tbody>
    </table>

    <div class="text-right">
      <a href={% url 'calcularmovimentacao' idb ma  %} class="btn btn-secondary text-white" type="button">
         <span class="text"><center>Voltar</center>
         </a>      
      </div>  


  </form>
</div>


{% endblock content %}

{% block js %}
<script>
document.body.addEventListener('htmx:configRequest', (event) => {
  event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
});
htmx.on("htmx:afterSwap", function(evt) {
    if (evt.target.id == 'expenseTbody') {
      document.getElementById('id_description').value = ''
      document.getElementById('id_value').value = ''
    }
  });
</script>
{% endblock js %}